FROM {{ IMAGE }}
ENV container docker

RUN yum -y update; yum clean all

RUN yum -y swap -- remove systemd-container systemd-container-libs -- install systemd systemd-libs dbus fsck.ext4

RUN systemctl mask dev-mqueue.mount dev-hugepages.mount \
    systemd-remount-fs.service sys-kernel-config.mount \
    sys-kernel-debug.mount sys-fs-fuse-connections.mount \
    display-manager.service graphical.target systemd-logind.service

#RUN yum -y swap -- remove fakesystemd -- install systemd systemd-libs
#RUN yum -y update; yum clean all; \
#(cd /lib/systemd/system/sysinit.target.wants/; for i in *; do [ $i == systemd-tmpfiles-setup.service ] || rm -f $i; done); \
#rm -f /lib/systemd/system/multi-user.target.wants/*;\
#rm -f /etc/systemd/system/*.wants/*;\
#rm -f /lib/systemd/system/local-fs.target.wants/*; \
#rm -f /lib/systemd/system/sockets.target.wants/*udev*; \
#rm -f /lib/systemd/system/sockets.target.wants/*initctl*; \
#rm -f /lib/systemd/system/basic.target.wants/*;\
#rm -f /lib/systemd/system/anaconda.target.wants/*;

RUN yum -y install openssh-server sudo openssh-clients
RUN sed -i 's/#PermitRootLogin no/PermitRootLogin yes/' /etc/ssh/sshd_config

RUN echo 'root:{{ PASSWORD }}' | chpasswd
RUN systemctl enable sshd.service

RUN useradd -m -s /bin/bash {{ USER  }}
RUN mkdir /home/{{ USER }}/.ssh
RUN usermod -aG {{ SUDO }} {{ USER }}
RUN echo '{{ USER }} ALL=(ALL) NOPASSWD:ALL' >> /etc/sudoers
RUN echo '{{ USER }}:{{ PASSWORD }}' | chpasswd
#RUN sudo su - docker_root

#RUN sudo ssh-keygen -t rsa -N "" -f /home/docker_root/.ssh/id_rsa

RUN sudo ssh-keygen -q -f /etc/ssh/ssh_host_rsa_key -N '' -t rsa && \
    sudo ssh-keygen -q -f /etc/ssh/ssh_host_ecdsa_key -N '' -t ecdsa && \
    sudo ssh-keygen -q -f /etc/ssh/ssh_host_ed25519_key -N '' -t ed25519 # && \
#    sudo ssh-keygen -t rsa -N "" -f /home/docker_root/.ssh/id_rsa


# firewalld needs this .. and I needs my firewalld
ADD dbus.service /etc/systemd/system/dbus.service
RUN systemctl enable dbus.service

VOLUME [ "/sys/fs/cgroup" ]
VOLUME ["/run"]

EXPOSE 22

CMD ["/usr/sbin/init"]
